body { 
  background: url(../images/rainbow.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  cursor: url(../images/controller.png), auto;
}

h1,
h2,
h3 {
	font-family: 'Press Start 2P', cursive;
	color: white;
	padding: 25px;
	text-shadow: 2px 2px #ff0000;
}

#start {
	color: black;
}

.questionHeader {
	text-decoration: underline;
}

.choices {
	text-align: center;
	border: dotted 2px black;
	border-radius: 5%;
	margin: 0 30%;
}

.choices:hover {
	background-color: orange;
	cursor: url(../images/controller.png), auto;
}